<div class="container text-center">
  <h1>Orlando Sentinel News Scraper</h1>
  <br>
  {{!-- <form class="scrape-articles"> --}}
    {{!-- <div id="scrape">
      <h4>Scrape News Articles</h4>
      <button class="btn btn-primary" id="scrape-articles" type="submit">SCRAPE</button>
    </div> --}}

    <section id="articles">
      <h4>Orlando Sentinel News Articles</h4>
      <div id="display-articles"></div>
      >

    </section>
  {{!-- </form> --}}
</div>
